@using GlowingTemplate.Models;

@model List<Product>
@{
    int count = 0;
}


<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <a class="btn btn-success" asp-controller="Product" asp-action="Create">Create</a>
            <span style='color:red'>@TempData["Error"]</span>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>SKU</th>
                            <th>Size</th>
                            <th>Category</th>

                            <th>Image</th>
                            <th>Button</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>

                                <td>@count</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>

                                <td>@item.Price</td>

                                <td>@item.SKU</td>
                                <td>@item.Category.Name</td>
                               @*  <td>@item.SizeId</td> *@

                                
                               <td><img src="~/upload/product/@item.ProductImages.FirstOrDefault(p=>p.IsPrime==true).ImageUrl?" /></td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Product" asp-action="Update" asp-area="Manage" asp-route-id=@item.Id>Update</a>
                                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-area="Manage" asp-route-id=@item.Id>Delete</a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
